.outer-paper {
  margin-top: 20px;
  margin: auto;
  padding: 2px;
  width:80%;
}

.Board-container {
  margin-left: 34px;
  margin-top:1em; 
  width: 80%;
  max-width: 25em;
  min-width: 23em;
  background-color: #3742f1;
  border-left: 0.1em solid #3742f1;
}

.pedestal{
  margin-left: -34px;
  width: 100%;
  border-bottom: 40px solid #3742f1;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
}